
html.body{min-height: 100%;}

/*---------------Auth Switch Button----------------------------*/

.auth-button{
    margin-left: 25%;
    padding-left: 0;
}

ul#auth-horizontal li{
    display: inline;
    border: black 1px solid;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

/*---------------Auth Form----------------------------*/

.auth-form{
    margin-left: 35%;
}

.auth-form-button{
    margin-top: 5%;
    width: 15em;
}

.auth-input{
    margin-top: 5%;
}

.auth-title{
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 50px;
}

/*---------------Auth Container----------------------------*/

.auth-container{
    /* border: 1px black solid; */
    padding-bottom: 22%;
}


/*---------------Auth Background----------------------------*/

.auth-landing{
    background-image: url('/src/assets/typewriter.png');
    background-size: cover;
    background-position: 50% 10%; 
}



