@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


.main-container{
    background-image: url('/src/assets/paper.jpg');
    height: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
}

.main-background{
    background-image: url('/src/assets/handwriting.png');
}

.landing-top h1{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    font-size: 100px;
}

.landing-our-goal{
    padding-top: 10em;
    text-align: left;
    padding-left: 15em;
}

.landing-our-goal h2{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    font-size: 60px;
}

.footer{
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/src/assets/handwriting.png');
    position: relative;
    padding-bottom: 0.2em;
    padding-top: 1em;
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}

.feed-date-genre{
    float: left;
}

hr{
    border-top: 10px solid black;
}

.synonym-display{
    height: 20em;
    overflow-x: hidden;
    overflow-y: auto;

}

.synonym-button{
    margin-top: 1em;
    margin-bottom: 3em;
}

.secondary-create-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

.secondary-create-modal{
    width: 90%;
    max-width: none!important; 
}

.secondary-create-post{
    height: 10em;
}

.secondary-create-thoughts{
    height: 10em;
}

.secondary-create-button-child {
    width: 50%;
    float: left;
    padding: 20px;
    text-align: center;
}  

.feed-post-child{
    width: 20%;
    float: left;
    padding: 5em;
}

.feed-middle-child{
    width: 60%;
}

.feed-post-buttons{
    width: 33%;
    display: inline;
    float: right;
}

.feed-header{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 100px;
}

.create-a-post-button{
    font-family: 'Cedarville Cursive', cursive;
}

.pp-modal-title{
    font-family: 'Cedarville Cursive', cursive;
}

.ps-modal-title{
    font-family: 'Cedarville Cursive', cursive;
}

.primary-create-modal{
    width: 70%;
    max-width: none!important; 
}

.primary-create-post{
    height: 10em;
}

.profile-main-title{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    font-size: 60px;
}

.profile-title{
    float: left;
}

.landing-our-goal-text{
    width: 60%;
    text-align: left;
    margin-left: 35%;
    text-indent: 10%;
}

.how-it-works{
    padding-top: 10em;
    text-align: left;
    padding-left: 15em;
}

.how-it-works h2{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    font-size: 60px;
}

.how-it-works-text{
    width: 60%;
    text-align: left;
    margin-left: 35%;
    text-indent: 10%;
}

.how-to-help{
    padding-top: 10em;
    text-align: left;
    padding-left: 15em;
}

.how-to-help h2{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    font-size: 60px;
}

.how-to-help-text{
    width: 60%;
    text-align: left;
    margin-left: 35%;
    text-indent: 10%;
}

.what-next{
    padding-top: 10em;
    text-align: left;
    padding-left: 15em;
}

.what-next h2{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    font-size: 60px;
}

.what-next-text{
    width: 60%;
    text-align: left;
    margin-left: 35%;
    text-indent: 10%;
}